@import "../../mixins";

.caseCard {
  background-color: $light-bg;
  border-radius: 5px;
  max-width: 342px;
  .thumbnail {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 20px 22px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 15px;

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 13px;

      .product {
        display: flex;
        align-items: center;
        gap: 6px;

        .title {
          @include fonts("Montserrat", 500, 14px, 140%);
          color: $black-primary;
        }
      }
    }

    .title {
      @include fonts("Montserrat", 600, 18px, 130%);
      color: $blue-primary;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: self-end;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    .arrowButton{
      height: 44px;
    }
  }
  @media screen and (max-width: 760px){
    .content{
      .title{
        font-size: 17px;
      }
    }
  }
}
