@import '../mixins';

.privacyAndTerms {
  background-color: $light-bg;

  .orangeLink {
    color: $orange-primary;

    &:hover {
      text-decoration: underline;
    }
  }

  .firstScreen {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    padding-top: 90px;
    padding-bottom: 88px;
  }

  .subtitle {
    padding-top: 20px;
  }

  .privacy {
    background-image: url('../../assets/privacy-and-terms/privacy_bg.webp');
  }

  .terms {
    background-image: url('../../assets/privacy-and-terms/terms_bg.webp');
  }

  @media screen and (max-width: 1024px) {
    .firstScreen {
      padding: 69px 0;
    }
  }
  @media screen and (max-width: 900px) {
    .mainTitle {
      width: 50%;
    }
    .subtitle {
      width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .mainTitle {
      width: 60%;
    }
    .subtitle {
      width: 60%;
    }
  }
  @media screen and (max-width: 746px) {
    .privacy {
      background-image: url('../../assets/privacy-and-terms/privacy_bg_mobile.webp');
    }
    .terms {
      background-image: url('../../assets/privacy-and-terms/terms_bg_mobile.webp');
    }
  }
}
