@import '../mixins';

.servicePage {
  .firstScreen {
    background-image: url('../../assets/services/microsoft_365_sales/header_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 98px;
    padding-bottom: 125px;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 44px;

      .title {
        text-align: left;
        max-width: 638px;
      }

      .subtitle {
        max-width: 638px;
        text-align: left;
      }

      .button {
        margin: initial;
      }
    }
  }

  .turnkeySettings {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .benefits {
    background-color: $light-bg;

    .benefitsList {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 50px;
    }

    .benefit {
      display: grid;
      grid-template-rows: 1fr 0.4fr 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;

      .benefitIcon {
        margin-bottom: 33px;
      }

      .title {
        @include fonts('Montserrat', 600, 24px, 120%);
        color: $blue-primary;
        text-align: center;
        align-self: center;
      }

      .paragraph {
        align-self: self-start;
      }
    }
  }

  .aboutService {
    .content {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      align-items: center;

      .lightningIcon {
        justify-self: center;
        align-self: stretch;
        width: 185px;
        height: auto;
      }

      .paragraph {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        font-size: 20px;
        font-weight: 600;
      }

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }
    }
  }

  .objections {
    background-color: $light-bg;

    .objectionThumbnail {
      width: 336px;
      height: 210px;
      display: flex;
      align-self: center;
      margin-bottom: 60px;
    }

    .objectionList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }

    .objection {
      display: grid;
      grid-template-rows: 1fr 2fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;

      .title {
        @include fonts('Montserrat', 600, 20px, 130%);
        color: $blue-primary;
        text-align: center;
      }

      .paragraph {
        align-self: self-start;
      }
    }
  }

  .resultBenefits {
    .resultIconMobile {
      display: none;
    }

    .block {
      display: grid;
      grid-template-rows: 1fr 3fr;
      grid-gap: 20px;
      text-align: center;

      .title {
        @include fonts('Montserrat', 600, 18px, 130%);
        letter-spacing: 0.01em;
        color: $blue-primary;
        margin: 0;
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .resultIconDesktop {
        justify-self: center;
        align-self: center;
      }

      .left,
      .right {
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        grid-gap: 44px;
      }
    }
  }

  .aboutCase {
    .content {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      align-items: center;

      .lightningIcon {
        justify-self: center;
        align-self: stretch;
      }

      .paragraph {
        @include fonts('Montserrat', 600, 18px, 130%);
        letter-spacing: 0.01em;
        color: $black-primary;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }
    }
  }

  .serviceRoadmap {
    .serviceMapDesktop {
      width: 100%;
      height: auto;
    }

    .serviceMapMobile {
      display: none;
    }
  }

  .quickStart {
    .quickStartMapDesktop {
      width: 100%;
      height: auto;
    }

    .quickStartMapMobile {
      display: none;
    }
  }

  .about {
    background-color: $light-bg;

    .content {
      background-color: $white;
      padding: 20px 40px;
      display: flex;
      align-items: center;
      gap: 10px;

      .paragraphSection {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .paragraph {
          text-align: left;
        }
      }

      .partnerLogo {
        border-left: 1px solid $border;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .firstScreen {
      //padding-top: 37px;
      //padding-bottom: 52px;
      padding-top: 15px;
      padding-bottom: 19px;

      .container {
        grid-gap: 10px;

        .title {
          max-width: 550px;
        }

        .subtitle {
          max-width: 495px;
        }

        .subtitle {
          &:nth-child(3) {
            margin-top: 10px;
          }
        }

        .button {
          margin-top: 30px;
        }
      }
    }
    .turnkeySettings {
      .turnkeyParagraph {
        width: 80%;
      }
    }
    .benefits {
      .benefitsList {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 0;
      }

      .benefit {
        grid-template-rows: 0.5fr 0.5fr 1.5fr;
        width: 60%;
        justify-self: center;
      }
    }
    .objections {
      .objection {
        grid-gap: 0;
        padding: 20px;
        background-color: #ffff;
        border-radius: 5px;

        .title {
          align-self: baseline;
        }
      }
    }
    .resultBenefits {
      .resultIconDesktop {
        display: none;
      }

      .resultIconMobile {
        display: block;
        text-align: center;
        margin-bottom: 60px;
      }

      .content {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
      }
    }
  }
  @media screen and (max-width: 890px) {
    .about {
      .content {
        flex-direction: column;

        .paragraphSection {
          border-bottom: 1px solid $border;
          padding-bottom: 20px;
        }

        .partnerLogo {
          border-left: none;
        }
      }
    }
  }
  @media screen and (max-width: 725px) {
    .benefits {
      .benefitsList {
        grid-row-gap: 20px;
        grid-column-gap: 10px;
      }

      .benefit {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .firstScreen {
      .container {
        .title {
          max-width: 294px;
        }

        .subtitle {
          max-width: 269px;
        }

        .button {
          max-width: 237px;
          padding: 0 !important;
        }
      }
    }
    .turnkeySettings {
      .turnkeyParagraph {
        width: 100%;
      }
    }
    .benefits {
      .benefit {
        .benefitIcon {
          margin-bottom: 0;
        }
        .title {
          font-size: 18px;
        }
      }
    }
    .aboutCase {
      .content {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        .lightningIcon {
          width: 119px;
        }

        .left,
        .right {
          text-align: center;
        }
      }
    }
    .serviceRoadmap {
      .serviceMapDesktop {
        display: none;
      }

      .serviceMapMobile {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .quickStart {
      .pageTitle {
        display: none;
      }

      .quickStartMapDesktop {
        display: none;
      }

      .quickStartMapMobile {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .resultBenefits {
      .lampIcon {
        width: 135px;
      }
      .content {
        grid-template-columns: 1fr;
        grid-gap: 60px;
        .left,
        .right {
          grid-gap: 60px;
        }
      }
    }
    .objections {
      .objectionList {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }

      .objection {
        padding: 20px 10px;
        grid-template-rows: 0.6fr 2fr;
        grid-gap: 10px;

        .title {
          font-size: 16px;
        }
      }
    }
    .about {
      .content {
        padding: 20px;
      }
    }
  }
}
