@import "../mixins";

.servicePage{

  .firstScreen{
    background-image: url("../../assets/services/microsoft_365_sales/header_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 98px;
    padding-bottom: 125px;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 44px;

      .title {
        text-align: left;
        max-width: 638px;
      }

      .subtitle {
        max-width: 638px;
        text-align: left;
      }
      .button{
        margin: initial;
      }
    }
    @media screen and (max-width: 1024px) {
      padding-top: 37px;
      padding-bottom: 52px;
    }
  }

  .turnkeySettings{
    .content{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .benefits{
    background-color: $light-bg;
    .benefitsList{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 50px;
    }
    .benefit{
      display: grid;
      grid-template-rows: 1fr 0.4fr 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;
      .benefitIcon{
        margin-bottom: 33px;
      }
      .title{
        @include fonts("Montserrat", 600, 24px, 120%);
        color: $blue-primary;
        text-align: center;
        align-self: center;
      }
      .paragraph{
        align-self: self-start;
      }
    }
  }
  .objections{
    background-color: $light-bg;
    .objectionThumbnail{
      width: 336px;
      height: 210px;
      display: flex;
      align-self: center;
      margin-bottom: 60px;
    }

    .objectionList{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }
    .objection{
      display: grid;
      grid-template-rows: 1fr 2fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;
      .title{
        @include fonts("Montserrat", 600, 18px, 130%);
        color: $blue-primary;
        align-self: center;
      }
      .paragraph{
        align-self: self-start;
      }
    }
  }
  .serviceRoadmap{
    .serviceMap{
      width: 100%;
      height: auto;
    }
  }
  .about{
    background-color: $light-bg;
    .content{
      background-color: $white;
      padding: 20px 40px;
      display: flex;
      align-items: center;
      gap: 10px;

      .paragraphSection{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .paragraph{
          text-align: left;
        }
      }

      .partnerLogo{
        border-left: 1px solid $border;
      }
    }
  }
}