@import "../../mixins";

.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .accordionItem {
    background-color: $white;
    padding: 40px 20px 40px 40px;

    .title {
      @include fonts("Montserrat", 600, 22px, 130%);
      color: $blue-primary;
    }

    .paragraph {
      text-align: left;
    }

    .itemButton {
      width: 100%;
      display: flex;
      align-items: center;
      user-select: none;

      &::after {
        content: "";
        width: 16px;
        height: 11px;
        margin-left: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36285 0.924805L7.93426 6.6623L13.5057 0.924805L15.2172 2.6998L7.93426 10.1998L0.651367 2.6998L2.36285 0.924805Z' fill='%231E2432'/%3E%3C/svg%3E%0A");
        background-size: 100%;
        background-repeat: no-repeat;
        transition: transform 0.2s ease-in-out;
      }

    }

    .content {
      transition: height 0.2s ease-in-out;
      overflow: hidden;
    }

    .list{
      display: flex;
      flex-direction: column;
      gap: 13px;
      padding-left: 10px;
      .item{
        display: grid;
        grid-template-columns: 0.1fr 11fr;
        grid-gap: 10px;
        &::before{
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          margin-top: 9px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: $orange-primary;
        }
      }
    }
    .twoColumn{
      display: grid;
      grid-template-columns: 1fr 1.7fr;
      grid-gap: 20px;
    }
    .thirdPartiesTable {
      width: 100%;
      border: 0;
      border-collapse: collapse;
      color: $gray-secondary;
      margin-bottom: 25px;

      background-color: $light-bg;

      th{
        padding: 18px 10px 18px 20px;
        @include fonts("Montserrat", 500, 14px, 140%);
        color: $black-primary;
        text-transform: uppercase;

      }
      thead{
        background: $dark-bg;
      }
      td{
        padding: 20px;
        border-bottom: 1px solid $dark-bg;
        @include fonts("Gilroy-Light", 400, 14px, 120%);
        color: $blue-primary;
      }
      @media screen and (max-width: 800px){
        thead{
          display: none;
        }
        tr{
          display: block;
          margin-bottom: 1rem;
          border-bottom: 2px solid $dark-bg;
        }
        td{
          display: block;
          text-align: right;
          &:before{
            content: attr(aria-label);
            float: left;
            font-weight: bold;
          }
        }
      }
    }

  }

  .active {
    .itemButton {
      padding-bottom: 31px;
    }

    &::after {
      transform: rotate(-180deg);
    }
  }
  .addressContent{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 30px;
  }
  .address{
    background: $blue-primary;
    border-radius: 5px;
    padding: 20px;
    //width: 290px;
    height: 275px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .item{
      color: $white;
      text-transform: uppercase;
    }
    .link{
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .paragraphSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 1024px){
    .accordionItem{
      padding: 20px 20px 20px 40px;
    }
    .active{
      .itemButton{
        padding-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: 800px){
    .addressContent{
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 541px){
    .accordionItem{
      padding: 20px;
      .twoColumn{
        grid-template-columns: 1fr;
        gap: 13px;
      }
    }
  }
}
