@import "../../mixins";

.ourCases{
  .casesCards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .thumbnail{
      width: 100%;
      height: auto;
    }
    .caseCard{
      background-color: $light-bg;
      border-radius: 5px;
      max-width: 342px;
      height: 460px;

      .content{
        padding: 20px 22px;
        display: grid;
        grid-template-rows: 0.5fr 2fr 1fr;
        grid-gap: 15px;

        .products{
          display: flex;
          flex-wrap: wrap;
          gap: 13px;
          .product{
            display: flex;
            align-items: center;
            gap: 6px;
            .title{
              @include fonts("Montserrat", 500, 14px, 140%);
              color: $black-primary;
            }
          }
        }
        .title{
          @include fonts("Montserrat", 600, 18px, 130%);
          color: $blue-primary;
        }
        .actions{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .tags{
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }
      }
    }
    @media screen and (max-width: 1080px){
      justify-content: center;
      gap: 40px;
      .caseCard{
        &:last-child{
          display: none;
        }
      }

    }
    @media screen and (max-width: 760px){
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
}