.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 70px 0;

  .header {
    @include fonts('Montserrat', 600, 18px, 24px);
    color: $blue-primary;
    padding-bottom: 24px;
  }

  .column {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .link {
    @include fonts('Montserrat', 500, 16px, 18px);
    color: $black-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

.links {
  display: flex;
  gap: 15px;
}

.contacts {
  .contact {
    display: flex;
    align-items: center;
    gap: 11px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}

.subscribingAndPartners {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .partners {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.subFooter {
  padding: 55px 0;
  background: #f9faff;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rights {
    display: flex;
    align-items: center;
    gap: 49px;

    .rightsTitle {
      @include fonts('Montserrat', 500, 16px, 20px);
      color: $black-primary;
    }

    .link {
      @include fonts('Montserrat', 500, 16px, 20px);
      color: $blue-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .socialMedia {
    display: flex;
    align-items: flex-end;
    gap: 21px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 117px;
    height: fit-content;
  }
}
@media screen and (max-width: 996px) {
  .mainFooter {
    flex-direction: column;
    align-items: center;
    padding: 51px 0 60px;
    .linksSection {
      display: none;
    }
    .contacts {
      .header {
        display: none;
      }
    }
    .subscribingAndPartners {
      .subscribeForm {
        display: none;
      }
    }
  }
  .subFooter {
    padding: 0;
    .content {
      padding: 40px 0 60px;
      flex-direction: column;
    }
    .rights {
      .rightsTitle {
        padding-bottom: 7px;
      }
      flex-direction: column;
      gap: 16px;
    }
    .socialMedia {
      padding-top: 23px;
    }
  }
}
