@import 'components/navigation/navbar';
@import 'components/navigation/footer';
@import 'pages/homePage';
@import 'pages/casesPage';
@import 'pages/service';
@import 'pages/privacyAndTerms';
@import 'components/sharedComponents/ourCases';
@import 'components/sharedComponents/popularAddons';
@import 'components/views/tag';
@import 'components/sharedComponents/mostViewedArticles';
@import 'components/sharedComponents/contacts';
@import 'components/sharedComponents/accordion';
@import 'components/views/caseCard';
@import 'components/views/modal';
@import 'components/views/articleCard';

////////////Global styles/////////////

.button {
  text-transform: uppercase;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallButton {
  padding: 0 18px;
  height: 40px;
  width: auto;
  @include fonts('Montserrat', 700, 12px, 15px);
}

.bigButton {
  height: 64px;
  width: 317px;
  padding: 0 18px;
  @include fonts('Montserrat', 700, 16px, 20px);
}

.orangeButton {
  //background: linear-gradient(269.64deg, #FF8F3E 4.23%, #FFB178 91.19%);
  background-color: $orange-primary;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.blueButton {
  background-color: white;
  color: $blue-primary;
  border: 2px solid $blue-primary;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 1106px;
  margin: auto;
  @media screen and (max-width: 1100px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.main {
  min-height: 100vh;
  flex: 1;

  .title {
    @include fonts('Gilroy-Light', 400, 46px, 150%);
    color: $white;
    @media only screen and (max-width: 1024px) {
      font-size: 40px;
      line-height: 120%;
    }
    @media only screen and (max-width: 600px) {
      font-size: 28px;
    }
  }

  .subtitle {
    @include fonts('Montserrat', 600, 22px, 130%);
    color: $white;
    @media only screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 130%;
    }
    @media only screen and (max-width: 600px) {
      font-size: 17px;
    }
  }

  .pageTitle {
    @include fonts('Gilroy-Light', 400, 46px, 120%);
    color: $blue-primary;
    text-align: center;
    padding-bottom: 40px;
    text-transform: capitalize;
    @media screen and (max-width: 450px) {
      font-size: 28px;
      padding-bottom: 20px;
    }
  }

  .pageSubtitle {
    @include fonts('Montserrat', 600, 24px, 29px);
    color: $blue-primary;
    text-align: center;
    padding-bottom: 40px;

    @media screen and (max-width: 450px) {
      font-size: 17px;
      line-height: 21px;
      padding-bottom: 20px;
    }
  }

  .section {
    padding: 60px 0 90px;
    @media screen and (max-width: 1024px) {
      padding: 30px 0 60px;
    }
  }
  .paragraph {
    @include fonts('Montserrat', 500, 16px, 140%);
    text-align: center;
  }
}

//////////Reset browser styles///////////
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: pointer;
  outline: none;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable='true']) {
  -webkit-user-drag: element;
}
//::-webkit-scrollbar {
//  width: 7px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  background: transparent;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: #6B7C8A;
//  border-radius: 10px;
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: transparent;
//}
