$orange-primary: #FF8F3E;
$blue-primary: #383680;
$black-primary: #1E2432;
$gray-primary: #6B7C8A;
$white: #FFFFFF;

$dark-bg: #E8EBFE;
$light-bg: #F9FAFF;

$border: #E1E5E8;

@mixin fonts($family, $weight, $size, $line-height ) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}