$orange-primary: #ff8f3e;
$blue-primary: #383680;
$black-primary: #1e2432;
$gray-primary: #6b7c8a;
$gray-secondary: #696d8c;
$white: #ffffff;

$dark-bg: #e8ebfe;
$light-bg: #f9faff;

$border: #e1e5e8;

@mixin fonts($family, $weight, $size, $line-height) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
